body {
  display: grid;

  /*height: 200px;*/
  grid-template:
    [header-left] "head head" 3.5em [header-right]
    [main-left] "nav  main" 1fr [main-right]
    / 120px 1fr;
  font-family: var(--sl-font-sans);
}

.header {
  grid-area: head;
  position: relative;
}

.nav {
  grid-area: nav;
  position: absolute;
}

.main {
  grid-area: main;
}

.nav-bar-icon-button {
    font-size: 3rem;
}

.content-centered {
    margin: auto;
    width: 50%;
    display: block;
}

.header-text {
    margin: auto;
    width: 60%;
    display: block;
    text-align: center;
}







